.title {
    color: white;
    text-transform: uppercase;
}

.list {
    display: flex;
    width: 60%;
    justify-content: space-around;
    letter-spacing: 1px;
    margin: 5px;
    left: 5%;
    position: relative;
    list-style: none;
    top: 3px;

}

.links {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 11vh;
    max-height: 11vh;
  width: 100%;
    background-color: #5cdb95;
}
